body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
  /* font-family: FreeMono, monospace; */
  /* font-family: monospace; */
  /* color: #616161; */
  background-color: rgb(248, 249, 250);
}

/* h1, h2, h3, h4, h5, label {
  color: #4C4C4C;
  margin: 5px 0px;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

::-webkit-scrollbar
{
  /* width: 8px; */  /* for vertical scrollbars */
  /* height: 8px; */ /* for horizontal scrollbars */
}

/* ::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
} */
